<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">

<head>
    <meta charset="UTF-8" />
    <title>Edit Operations</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>

<body>
<th:block th:include="/header"></th:block>
<h1>Edit Operation</h1>

<form th:action="@{/saveEditOperation}" method="POST">
    <table>
        <tr>
            <th>Operation For Edit</th>
            <th>
                <select th:name="id">
                    <option value="0">Select Article</option>
                    <option th:each="operation : ${operations}" th:if="not ${operation.balanceId}" th:value="${operation.id}" th:text="${operation.id}"></option>
                </select>
            </th>
        </tr>
        <tr>
            <th>Set Article</th>
            <th>
                <select th:name="article_id">
                    <option value="0">Select Article</option>
                    <option th:each="article : ${articles}" th:value="${article.id}" th:text="${article.name}"></option>
                </select>
            </th>
        </tr>
        <tr>
            <th>Set Debit</th>
            <th>
                <input type="text" th:name="debit"/>
            </th>
        </tr>
        <tr>
            <th>Set Credit</th>
            <th>
                <input type="text" th:name="credit"/>
            </th>
        </tr>
        <tr>
            <th>Set Date</th>
            <th>
                <input type="text" th:name="create_date"/>
            </th>
        </tr>
        <tr>
            <th></th>
            <th></th>
            <th>
                <input type="submit" value="Edit"/>
            </th>
        </tr>
    </table>
</form>
</body>
</html>